@model List<ComingSoonProject.Models.Setting>
@{
    int count = 1;
}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive">
                            <h4 class="m-t-0 header-title mb-4">
                                <b>Cards</b>
                            </h4>

                            <a class="btn btn-info waves-effect width-md waves-light " asp-action="Create" style="color:#ffffff  ">Add</a>
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Key</th>
                                    <th>Value</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>

                                <tbody>
                                @foreach (var setting in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@setting.key</td>
                                        <td>@setting.Value</td>
                                        <td>
                                            <a class="btn btn-icon waves-effect waves-light btn-purple" asp-action="Update" asp-route-id="@setting.Id">
                                                <i class="mdi mdi-pencil-outline"></i>
                                            </a>
                                        </td>

                                    </tr>


                                    count++;
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end container-fluid -->

    </div>
    <!-- end content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2015 - 2020 &copy; Velonic theme by <a href="#">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->