@model UserRegisterVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from coderthemes.com/velonic/layouts/vertical/pages-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Dec 2021 09:29:39 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Register | Velonic - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

</head>

<body class="authentication-page">

    <div class="account-pages my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-header text-center p-4 bg-primary">
                            <h4 class="text-white mb-0 mt-0">FiorElla</h4>
                            <h5 class="text-white font-13 mb-0">Create a new Account</h5>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                            <form method="post" class="p-2">

                                <div class="form-group mb-3">
                                    <span class="text-danger" asp-validation-for="FullName"></span>
                                    <label asp-for="FullName"></label>
                                    <input asp-for="FullName" class="form-control" required="">
                                </div>

                                <div class="form-group mb-3">
                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control" required="">
                                </div>

                                <div class="form-group mb-3">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" required="" placeholder="Repait Password">
                                </div>


                                @* <div class="form-group mb-4"> *@
                                @*     <div class="checkbox checkbox-success"> *@
                                @*         <input id="remember" type="checkbox" checked=""> *@
                                @*         <label for="remember"> *@
                                @*             I accept *@
                                @*             <strong> *@
                                @*                 <a href="#">Terms and Conditions</a> *@
                                @*             </strong> *@
                                @*         </label> *@
                                @*     </div> *@
                                @* </div> *@

                                <div class="form-group text-right mt-4 mb-4">
                                    <div class="col-12">
                                        <button class="btn btn-md btn-primary waves-effect waves-light" type="submit">Register</button>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-sm-12 text-center">
                                        <a asp-action="Login">Already have account?</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- end card-body -->
                    </div>
                    <!-- end card -->
                    <!-- end row -->

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
    </div>

    <!-- Vendor js -->
    <script src="~/Admin/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/Admin/assets/js/app.min.js"></script>

</body>


</html>